" Tribute for Robert Yokota (https://github.com/rayokota) for sharing this with me!
set hlsearch
set incsearch
set showmode
set number
set scrolloff=3
set history=100000
set clipboard=unnamed

" https://youtrack.jetbrains.com/issue/VIM-1521
set commentary

" Useful mappings
source ~/.vimrc.keymap

" ==================================================
" Show all the provided actions via `:actionlist`
" ==================================================

" SlickEdit-like bindings
nnoremap <C-.> :action GotoDeclaration<CR>
nnoremap <C-,> :action Back<CR>
nnoremap <C-/> :action ShowUsages<CR>
nnoremap <A-.> :action GotoImplementation<CR>
nnoremap <A-,> :action GotoSuperMethod<CR>

nnoremap <Leader>;; :action CommentByLineComment<CR>

nnoremap <Leader>bb :action ToggleLineBreakpoint<CR>
nnoremap <Leader>br :action ViewBreakpoints<CR>

nnoremap <Leader>cd :action ChooseDebugConfiguration<CR>
nnoremap <Leader>cr :action ChooseRunConfiguration<CR>
nnoremap <Leader>cv :action ChangeView<CR>

nnoremap <Leader>fp :action FindInPath<CR>
nnoremap <Leader>fs :action FileStructurePopup<CR>
nnoremap <Leader>fu :action FindUsages<CR>

nnoremap <Leader>ga :action GotoAction<CR>
nnoremap <Leader>gc :action GotoClass<CR>
nnoremap <Leader>gd :action GotoDeclaration<CR>
nnoremap <Leader>gf :action GotoFile<CR>
nnoremap <Leader>gi :action GotoImplementation<CR>
nnoremap <Leader>gn :action Generate<CR>
nnoremap <Leader>gp :action SelectInProjectView<CR>
nnoremap <Leader>gr :action GotoRelated<CR>
nnoremap <Leader>gs :action GotoSymbol<CR>
nnoremap <Leader>gt :action GotoTest<CR>

nnoremap <Leader>ic :action InspectCode<CR>

nnoremap <Leader>jl :action JumpToLastWindow<CR>

nnoremap <Leader>mv :action ActivateMavenProjectsToolWindow<CR>

nnoremap <Leader>oi :action OptimizeImports<CR>

nnoremap <Leader>re :action RenameElement<CR>
nnoremap <Leader>rf :action RenameFile<CR>

nnoremap <Leader>se :action SearchEverywhere<CR>
nnoremap <Leader>sf :action ShowFilePath<CR>
nnoremap <Leader>sp :action ShowPopupMenu<CR>
nnoremap <Leader>sr :action RecentFiles<CR>
nnoremap <Leader>su :action ShowUsages<CR>

nnoremap <Leader>tc :action CloseActiveTab<CR>
nnoremap <Leader>tl Vy<CR>:action ActivateTerminalToolWindow<CR>
vnoremap <Leader>tl y<CR>:action ActivateTerminalToolWindow<CR>

nnoremap ]e :action GotoNextError<CR>
nnoremap [e :action GotoPreviousError<CR>
